<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button size="small" (click)="openFavorites()">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
      <ion-button size="small" (click)="openGenres()">
        <ion-icon slot="icon-only" name="funnel"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <div class="title-wrapper">
        <img class="logo" src="assets/img/logo.png" alt="Logo">
        {{ title$ | async }}
      </div>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button size="small" (click)="onToggle()">
        <ion-icon *ngIf="isPopular" name="arrow-up"></ion-icon>
        <ion-icon *ngIf="!isPopular" name="arrow-down"></ion-icon>
      </ion-button>
      <ion-button size="small" (click)="openSearchBar()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
