ion-header {
  ion-icon {
    height: 20px;
  }

  .logo,
  .title-wrapper {
    position: relative;
  }

  .logo {
    top: 5px;
    width: 25px;
  }

  .title-wrapper {
    font-weight: normal;
    outline: none;
    top: -3px;

    &:hover {
      cursor: pointer;
    }
  }
}
