ion-header {
  ion-icon {
    height: 20px;
  }

  ion-searchbar {
    position: absolute;
    top: 4px;
    z-index: 2;

    &.ios {
      top: -9px;
    }
  }

  ion-toolbar.ios {
    padding-bottom: 5px;
  }

  .logo,
  .title-wrapper {
    position: relative;
  }

  .logo {
    top: 5px;
    width: 25px;
  }

  .title-wrapper {
    font-weight: normal;
    outline: none;
    top: -3px;

    &:hover {
      cursor: pointer;
    }
  }
}
