<ion-header>
  <ion-toolbar color="primary" [appScroll] [scrollArea]="scrollArea">
    <ion-searchbar
      *ngIf="showSearchBar"
      #searchBar
      animated
      color="light"
      showCancelButton="always"
      [@slide-left]
      (@slide-left.done)="onToggleSearchBarDone()"
      (search)="onSearch($event.target.value)"
      (ionChange)="onChange($event.target.value)"
      (ionCancel)="onCancel()"
    ></ion-searchbar>

    <ng-container *ngIf="!showSearchBar">

      <ion-buttons slot="secondary">
        <ng-container *ngIf="!genresPage">
          <ion-button size="small" routerLink="/favorites">
            <ion-icon slot="icon-only" name="star"></ion-icon>
          </ion-button>
          <ion-button size="small" (click)="onOpenGenres()">
            <ion-icon slot="icon-only" name="funnel"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-buttons>

      <ion-buttons slot="start" *ngIf="!showLogo">
        <ion-back-button defaultHref="/" (click)="onGoBack()"></ion-back-button>
      </ion-buttons>

      <ion-title>
        <div class="title-wrapper" [class.title-wrapper--with-logo]="showLogo" routerLink="/home">
          <img class="logo" src="assets/img/logo.png" alt="Logo" *ngIf="showLogo" >
          <ng-container *ngIf="staticTitle; else dynamicTitle">
            {{ staticTitle }}
          </ng-container>
          <ng-template #dynamicTitle>
            <ng-container *ngIf="title$ | async as title; else emptyTitle">
              {{ title }}
            </ng-container>
          </ng-template>
          <ng-template #emptyTitle>
            Upcoming
          </ng-template>
        </div>
      </ion-title>

      <ion-buttons slot="primary">
        <ion-button size="small" (click)="onToggle()" *ngIf="!showApplyButton">
          <ion-icon *ngIf="isPopular" name="arrow-up"></ion-icon>
          <ion-icon *ngIf="!isPopular" name="arrow-down"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="onToggleSearchBar()" *ngIf="!showApplyButton">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="onApplyGenres()" *ngIf="showApplyButton">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ng-container>
  </ion-toolbar>
</ion-header>
