ion-card {
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  margin: 0;
  position: relative;
  width: 100%;

  .text-wrapper {
    background: rgba(0, 0, 0, .6);
    bottom: 5%;
    position: absolute;
    width: 100%;
  }

  &-title {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
  }

  &-title,
  &-subtitle {
    color: #fff;
  }

  ion-img {
    height: 200px;
    object-fit: cover;
    padding-bottom: 3px;
  }

}
