<ion-card (click)="onViewMore(movie.id)" [routerLink]="['/details', movie.id]">
  <div class="image-wrapper">
    <img [src]="imageService.getUrl(movie.backdrop_path)" alt="" />
  </div>
  <div class="text-wrapper">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <ion-card-title>
            {{ movie.title }}
          </ion-card-title>
          <ion-card-subtitle>
            {{ movie.release_date }}
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="2" class="ion-text-end">
          <ng-container *ngIf="!isExists; else remove">
            <ion-button fill="outline" size="small" (click)="onAddToFavorites($event, movie)">
              <ion-icon slot="icon-only" name="star"></ion-icon>
            </ion-button>
          </ng-container>
          <ng-template #remove>
            <ion-button fill="outline" size="small" (click)="onRemoveFromFavorites($event, movie.id)">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-card>
