<app-header
  staticTitle="Favorites"
  (searchItems)="onSearch($event)"
  (change)="onChange($event)"
  (clear)="onClear()"
  [showSecondaryButtons]="false"
></app-header>

<ion-content>
  <ng-container *ngIf="favorites.length > 0; else empty">
    <ion-virtual-scroll [items]="favorites" approxItemHeight="180px" [itemHeight]="itemHeightFn">
      <app-movie
        *virtualItem="let movie"
        [movie]="movie"
        [isExists]="isExists(movie.id)"
        (removeFromFavorites)="onRemoveFromFavorites($event)"
      ></app-movie>
    </ion-virtual-scroll>
  </ng-container>
  <ng-template #empty>
    <ion-text color="primary">
      <p>Favorites list is empty!</p>
    </ion-text>
  </ng-template>
</ion-content>
