<app-header
  (openGenres)="onOpenGenres()"
  (togglePopular)="onTogglePopular($event)"
  (searchItems)="onSearch($event)"
  [scrollArea]="scrollArea"
></app-header>

<ion-content #scrollArea scrollEvents="true">
  <app-loader *ngIf="loading"></app-loader>
  <ng-container *ngIf="movies.length > 0">
    <ion-virtual-scroll [items]="movies" approxItemHeight="180px" [itemHeight]="itemHeightFn">
      <app-movie
        *virtualItem="let movie"
        [movie]="movie"
        [isExists]="isExists(movie.id)"
        (addToFavorites)="onAddToFavorites($event)"
        (removeFromFavorites)="onRemoveFromFavorites($event)"
      ></app-movie>
    </ion-virtual-scroll>
  </ng-container>
  <app-view-more *ngIf="!noResults" (viewMore)="onLoadMore($event)"></app-view-more>
  <ng-container *ngIf="noResults && !loading">
    <ion-text color="primary">
      <p>No results found!</p>
    </ion-text>
  </ng-container>
</ion-content>
