<ng-container *ngIf="movie$ | async as movie; else loader">
  <app-header
    [staticTitle]="movie.title"
    [showLogo]="false"
    [showPrimaryButtons]="false"
    [showSecondaryButtons]="false"
  ></app-header>

  <ion-content>

    <div class="poster">
      <ion-img
        alt=""
        [class.hidden]="!isPosterLoaded"
        [src]="imageService.getUrl(movie.poster_path)"
        (ionImgDidLoad)="onPosterDidLoad()"
      ></ion-img>
      <ion-thumbnail slot="start" *ngIf="!isPosterLoaded" class="thumbnail--poster">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
    </div>

    <ion-card class="card-details" [@fadeOut]>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <h4 class="heading4">Rating</h4>
            <p class="large-text">{{ movie.vote_average | number: '1.1-1' }}</p>
          </ion-col>
          <ion-col col-6>
            <h4 class="heading4">Genre</h4>
            <p>{{ movie.genres[0]?.name }}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <h4 class="heading4">Website</h4>
            <ion-button (click)="onVisitWebsite(movie.homepage)">Visit</ion-button>
          </ion-col>
          <ion-col col-6>
            <h4 class="heading4">Release Date</h4>
            <p>{{ movie.release_date | date: 'mediumDate' }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card padding [@fadeOut]>
      <h4 class="heading4">Overview</h4>
      <p>{{ movie.overview }}</p>
    </ion-card>

    <ng-container *ngIf="images$ | async as images">
      <h5 class="heading5">Screenshots</h5>
      <ion-slides scrollbar="true" (ionSlideWillChange)="onSlideWillChange()">
        <ion-slide *ngFor="let image of images; let idx=index">
          <ion-thumbnail slot="start" *ngIf="!isImageLoaded" class="thumbnail--image-item">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-img
            alt=""
            class="image-item"
            (ionImgDidLoad)="onImgDidLoad(idx)"
            [src]="imageService.getUrl(image.file_path)"
            [class.hidden]="!isImageLoaded"
          ></ion-img>
        </ion-slide>
      </ion-slides>
    </ng-container>

    <ng-container *ngIf="videos$ | async as videos">
      <h5 class="heading5 heading5--video">Videos</h5>
      <ion-list>
        <ion-item *ngFor="let video of videos">
          <ion-button slot="start" size="small" (click)="onVideoPlay(video.key)">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
          <ion-label>{{ video.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ng-container>

  </ion-content>
</ng-container>

<ng-template #loader>
  <ion-content>
    <app-loader></app-loader>
  </ion-content>
</ng-template>
